header {
    max-height: 50px;
}

.menu {
    background-color: #00547E;
    border-bottom: 4px solid #04A3ED;
    width: 100%;
    padding: 0 10px;
}

.navbar-brand > b {
    color: white;
    font-size: 20px;
    padding: 10px 50px;
    position: relative;
}

.navbar-custom-menu > a {
    color: white;
    cursor: pointer;
}

.navbar-custom-menu {
    float: right;
}

footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

.body {
    min-height: 100%;
}

.body > div {
    margin-top: 50px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.right-align {
    text-align: right;
}

.no-padding {
    padding: 0px;
}

.no-bottom {
    margin-bottom: 0px;
}

.table td, th {
    text-align: center;
}

.cursor {
    cursor: pointer;
}

.playlist-input-modal {
    width: 40%;
    display: inline;
}