<html>

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/login.controller.js"></script>
    <script type="text/javascript" src="js/header.controller.js"></script>
    <script type="text/javascript" src="js/constants.js"></script>
    <script type="text/javascript" src="js/storage.service.js"></script>
    <script type="text/javascript" src="js/auth.service.js"></script>
    <script type="text/javascript" src="js/track.controller.js"></script>
    <script type="text/javascript" src="js/track.service.js"></script>
    <script type="text/javascript" src="js/playlist.controller.js"></script>
    <script type="text/javascript" src="js/playlist.service.js"></script>
    <script type="text/javascript" src="js/playlist.track.controller.js"></script>
</head>
<body ng-app="music" ng-controller="HeaderController as header">
<header class="menu">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a ui-sref="login()" class="navbar-brand">
                    <b>Music</b>
                </a>
            </div>
            <div class="navbar-custom-menu">
                <a ng-click="header.logout()" ng-if="header.isLoggedIn" class="navbar-brand">Logout</a>
            </div>
        </div>
    </nav>
</header>
<div class="container body">
    <div ui-view></div>
</div>
<footer>
    <strong>Copyright © 2017-2018 <a ui-sref="login()">Music</a>.
    </strong> All rights reserved.
</footer>
</body>
</html>