<div class="col-md-3"></div>
<div class="col-md-6">
    <form name="loginForm" ng-submit="login.login()" novalidate>
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" type="text" name="username" ng-model="login.username" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" name="password" ng-model="login.password" required>
                </div>
            </div>
            <div class="panel-footer right-align">
                <label class="error">{{login.errorMessage}}</label>
                <input class="btn btn-primary" type="submit" value="Login"
                       ng-disabled="loginForm.$invalid || loggingIn">
                <img src="images/loader.gif" ng-show="login.loggingIn"/>
            </div>
        </div>
    </form>
</div>