<div class="panel panel-info">
    <div class="panel-heading">Tracks</div>
    <div class="panel-body no-padding">
        <table class="table table-striped table-hover no-bottom">
            <thead>
            <tr>
                <th>Sr. No</th>
                <th>Track Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="trackObj in playlistTrackCtrl.tracks track by $index">
                <td>{{$index + 1}}</td>
                <td>{{trackObj.name}}</td>
                <td>
                    <a class="cursor" ng-click="playlistTrackCtrl.removeTrackFromPlaylist(trackObj)" title="Remove Track">
                        <i class="fa fa-times error"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
