<div class="row">
    <div ng-class="{'col-md-6':playlistCtrl.childDiv,'col-md-12':!playlistCtrl.childDiv}">
        <div class="panel panel-info">
            <div class="panel-heading">Your Playlists</div>
            <div class="panel-body no-padding">
                <table class="table table-striped table-hover no-bottom">
                    <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Playlist Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="playlist in playlistCtrl.playlists track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{playlist.name}}</td>
                        <td>
                            <a ui-sref="playlists.tracks({id:playlist.id})" ng-click="playlistCtrl.childDiv = true;">Show
                                Tracks</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6" ui-view></div>
</div>