<div class="row">
    <div class="col-md-12 right-align">
        <a class="btn btn-success" ui-sref="playlists()">View All Playlists</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Music Tracks</div>
            <div class="panel-body no-padding">
                <table class="table table-striped table-hover no-bottom">
                    <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Track Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="trackObj in trackCtrl.tracks track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{trackObj.name}}</td>
                        <td>Add / Remove to Playlist
                            <a data-toggle="modal" data-target="#myModal" class="cursor"
                               ng-click="trackCtrl.addToPlaylist(trackObj)">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" ng-if="trackCtrl.trackObj">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add/Remove <b>{{trackCtrl.trackObj.name}}</b> to:</h4>
            </div>
            <div class="modal-body">
                <span class="{{trackCtrl.messageClass}}"
                      ng-if="trackCtrl.message"><label>{{trackCtrl.message}}</label><br><br></span>
                <span data-ng-repeat="playlist in trackCtrl.playlists">
                     <input type="checkbox" id="playlist_{{playlist.id}}"
                            ng-click="trackCtrl.toggleTrackFromPlaylist(playlist.id)"
                            ng-checked="trackCtrl.checkAlreadyAdded(playlist.id)"/> <b>{{playlist.name}}</b>
                    <br><br>
                </span>
                <span>
                    <input placeholder="Playlist Name" id="name" type="text" class="form-control playlist-input-modal"
                           ng-model="trackCtrl.playlistName"/>
                    <a class="btn btn-sm btn-primary" ng-click="trackCtrl.createPlaylist(trackCtrl.playlistName)"
                       ng-disabled="trackCtrl.playlistName.length == 0">Create</a>
                    <label class="error">{{trackCtrl.error}}</label>
                </span>
            </div>
        </div>
    </div>
</div>